	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
					<div class="table100 ver5 m-b-110">
					<div class="table100-head">
						<table>
							<thead>
								<tr class="row100 head">
									<th class="cell100 column1">Mã Code</th>
									<th class="cell100 column2">Tên Và Loại Sản Phẩm</th>
									<th class="cell100 column3"></th>
								</tr>
							</thead>
						</table>
					</div>

					<div class="table100-body">
						<table>
							<tbody>
								<tr class="row100 body" *ngFor="let item of listCategory">
									<td class="cell100 column1">{{item.code}}</td>
									<td class="cell100 column2">{{item.name}}</td>
									<td class="cell100 column3"><button class="btn-delete" style="color: red;" (click)="deleteCategory2(item.id)">Xóa</button></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
  </div>
  <div>Thêm Mới Sản Phẩm</div>
  <div>
    <span>Code Sản Phẩm</span>
    <input type="text" [(ngModel)]="formData.code">
  </div>
  <div>
    <span>Tên Sản Phẩm</span>
    <input type="text" [(ngModel)]="formData.name">
  </div>
  <div>
  <button (click)= "insert()">them moi</button>
  </div>

<div>Product</div>
  <div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
					<div class="table100 ver5 m-b-110">
					<div class="table100-head">
						<table>
							<thead>
								<tr class="row100 head">
									<th class="cell100 column1">Mã Code</th>
									<th class="cell100 column2">Tên Sản Phẩm</th>
                  <th class="cell100 column3">Mô Tả</th>
                  <th class="cell100 column4">Hình Ảnh</th>
									<th class="cell100 column5"></th>


								</tr>
							</thead>
						</table>
					</div>

					<div class="table100-body">
						<table>
							<tbody>
								<tr class="row100 body" *ngFor="let item of listProduct">
									<td class="cell100 column1">{{item.code}}</td>
									<td class="cell100 column2">{{item.name}}</td>
									<td class="cell100 column3">{{item.decription}}</td>
									<td class="cell100 column4">{{item.image}}</td>
									<td class="cell100 column5"><button class="btn-delete" style="color: red;" (click)="deleteProduct2(item.id)">Xóa</button></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
  </div>
